<a class="keyword" id="1">Freddy Mercury, Michael Jackson, Pavarotti, Elvis Presley, Diana Ross</a>
<br>
<a class="keyword" id="2">Erlang (programming language), BASIC, JavaScript, C (programming language), VHDL, Ruby (programming language), Objective-C, Pascal (programming language), Rust (programming language)</a>
<br>
<a class="keyword" id="3">Albert Einstein, Nikola Tesla, Isaac Newton, Max Planck, Mikhail Lomonosov, Johannes Kepler, Benjamin Franklin, Marie Curie</a>