<form role="form">
  <div class="form-group">
    <textarea class="form-control" placeholder="Enter keywords separated by commas. For example: Franklin Roosevelt, Stalin" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary btn-lg show-chronology">Show chronology</button>
</form>