<form role="form">
  <div class="form-group">
    <textarea class="form-control" rows="3">Putin</textarea>
  </div>
  <button type="submit" class="btn btn-primary btn-lg show-chronology">Show chronology</button>
</form>