body {
  position: relative;
  padding-top: 70px;
}

.row form, .row#last {
  padding: 15px;
}

#timeline {
  padding-top: 50px;
}

.keyword {
  cursor: pointer;
}


.navbar-default  {
  padding-top:5px;
  background-color: #e9e9e9;
}

#center {
  text-align: center;
}

#text {
  padding: 15px 120px ;
  line-height: 1.5;
}

footer {
  padding-bottom: 50px;
}
